#wrapper {
	margin: 0 auto;
}
#header {
	background: url(d4.jpg);
	background-size: cover;
	width: 100%
	height:10px;
	margin-bottom: 10px;
}
#header img {
margin-left: 10px;
margin-top: 10px;
}
#header h3 {
	margin-left: 10px;
	color: blue;
	margin-top: 1px;
}
#content {
	height: 640px;
	background: url(d4.jpg);
	background-size: cover;
	margin-top: 10px;
}
#login {
	margin-top: 170px;
	margin-right: 490px;
	width: 325px;
	height: 260px;
	float: right;
	background-color: white;
	background:rgba(0,225,225, 0.8);
	padding-top: 12px;
}
#login a {
text-decoration: none;
}
#login select {
font-size: 13px;
width: 100px;
margin-left: 28px;
border: 3px solid #0288D1;
text-align: center;
}
#log {
font-size: 30px;
}
.kolom {
font-size: 15px;
text-align: center;
width: 150px;
height: 23px;
border-radius: 8px;
border: 3px solid #0288D1;
}
.tombol {
border-radius: 5px;
border: 2px solid #0288D1;
background-color: blue;
color: white;
}
.tombol:hover {
  background-color: white;
  color: #0288D1;
  border: 2px solid white;
} 
.kata {
font-size: 20px;
}
.cek {
font-size: 15px;
margin-left: 37px;
margin-top: 8px;
}
#biodata {
	margin-top: 10px;
	margin-left: 10px;
	width: 250px;
	height: 150px;
	float: left;
	background: #8f00ff;
}
#biodata ul{
	margin-left: 10px;
}
#biodata li a{
text-decoration: none;
}
#footer {
	width: 100%;
	height: 30px;
	background: #0000BB;
	padding-top: 10px;
	margin-top: 10px;
}